* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    max-width: 100dvw;
}

.outer-container {
    height: 100%;
    width: 100%;
}

#home {
    height: 250px;
    width: 100%;
    background-color: #FFF0DC;
    justify-content: space-around;
    border-bottom: 25px solid #543A14;
    border-top: 25px solid #543A14;
}

#logo {
    width: 350px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: darkgrey;
    background-color: #543A14;
    text-shadow: 2px 5px 3px #F0BB78;
}

#logo-picture {
    width: 450px;
    height: 80%;
}

/*Navbar*/
#navbar {
    height: 80px;
    background-color: #131010;
    color: white;
    justify-content: space-around;
}

#inner-container {
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #131010;
}

.nav-elem {
    height: 55%;
    width: 10%;
    background-color: #99BC85;
}

a {
    text-decoration: none;
    color: #131010;
    font-size: 20px;
    font-weight: 550;
    text-shadow: 15px 15px 5px#131010;
}

/*Sections*/
#genre {
    align-items: center;
    justify-content: space-evenly;
    padding: 55px
}

.heading {
    font: 45px black;
    font-weight: 900;
    height: 75px;
    width: 150px;
    vertical-align: middle;
}

.genre-image {
    max-width: 100%;
}

.genre-image>img {
    width: 100%;
    height: 410PX;
}

.genre>p {
    margin-bottom: 10px;
    font-family: "Lavishly Yours", cursive;
    font-size: 60px;
    user-select: none;
}