body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.outer-container {
    height: 100%;
    width: 100%;
}

/*Creating a flex class*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Creating border class*/
.border {
    border: 5px solid black;
}

#home {
    height: 200px;
    width: 100%;
    background-color: #FFF0DC;
    justify-content: space-around;
}

#logo {
    width: 350px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}